NOTION_API_TOKEN=secret_XXXXXX
NOTION_DB_ID=XXXXXX
RESEND_API_KEY=XYXY
NEXT_PUBLIC_SANITY_API_READ_TOKEN=XXXX # https://vaultwarden.tools.apptiva.ch/#/vault?itemId=aada9c33-6799-4259-9397-528f9accdb4b&action=view
