RESEND_API_KEY=XYXY
# RESEND_BASE_URL=http://localhost:3999 # uncomment to catch Resend calls locally (run `pnpm resend:catch` first)
NEXT_PUBLIC_SANITY_API_READ_TOKEN=XXXX # https://vaultwarden.tools.apptiva.ch/#/vault?itemId=aada9c33-6799-4259-9397-528f9accdb4b&action=view

NEXT_PUBLIC_GTAG_ID=AW-XXXXXXXXX
