@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 6 48 98;
    --primary-light: 17 126 255;
    --primary-dark: 11 28 57;
    --secondary: 133 255 0;
    --secondary-dark: 0 111 79;
    --base-black: 24 24 24;
    --base-grey: 239 239 239;
    --base-grey-light: 249 249 249;
    --base-white: 255 255 255;
  }
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(100ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 9rem);
  --gutter-top: 8rem;

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];

  padding-top: 8rem;
}

.full .content {
  padding-top: 0;
}

.content > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

.highlighted-text,
strong {
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-decoration-skip-ink: none;
  text-decoration-color: rgb(var(--secondary));
  text-underline-offset: -5px;
  font-weight: inherit;
}
