@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 17 126 255;
    --primary-dark: 8 64 131;
    --secondary: 133 255 0;
    --secondary-dark: 0 111 79;
    --base-black: 24 24 24;
    --base-grey: 239 239 239;
    --base-white: 255 255 255;
  }
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(100ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  --gutter-top: 8rem;

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];

  padding-top: 8rem;
}

.content:has(.full:first-child) {
  padding-top: 0;
}

.content > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

.testimonial-button-prev:hover {
  cursor: url(./../../../public/icons/arrow-left-circle.svg), auto !important;
  background-color: transparent !important;
}

.testimonial-button-next:hover {
  cursor: url(./../../../public/icons/arrow-right-circle.svg), auto !important;
  background-color: transparent !important;
}

.testimonial-text-underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.testimonial-text-underline::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 2px; /* Adjust the distance between the text and the border */
  background-color: rgb(var(--secondary));
}
